


.card_box{
    .col-12{
        .card{
            position: relative;
            img{
                height: 200px;
            }
            .read_more{
                bottom: 10px;
                width: 100%;
                position: absolute;
            }
        }
    }
}


.news_ads_videos{
    .card{
        height: 300px;
        min-height: 300px;
    }
}


.all_events{
    .card{
        height: 270px;
        min-height: 270px;
    }
}