@import "../variables/fonts";
@import "../variables/colors";

.header{
    margin-bottom: 110px;
    #headerIMG{
        .item{
            height: 78vh!important;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    #statistika{
        margin-top: -12%;
        .card{
            margin: 0 10px;
            padding: 50px 0;
            text-align: center;
            .card-body{
                .card_icon{
                    i{
                        color: $color1;
                        font-size: 50px;
                    }
                }
                p{
                    font-weight: 700;
                    font-family: serif;
                }
                h3{
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }
            }
        }
    }
}

#about{
    margin: 70px 0;
    padding: 70px 0;
    background: $color2;
    h1{
        font-weight: 700;
        color: $text_white;
        margin-bottom: 20px;
    }
    .img{
        overflow: hidden;
        padding-top: 10px;
        height: 100%;
        img{
            height: 100%;
            transition: all 0.2s ease-out;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    p{
        color: $text_white;
        text-align: justify;
    }
    .read_more{
        padding: 10px 50px;
        color: $text_white;
        border: 1px solid $text_white;
        transition: all 0.5 ease;
        &:hover{
            color: $color1;
            background-color: $text_white;
        }
    }
}

#studyway{
    .wrapper_studyway{
        display: block;
        font-size: 45px;
        text-align: center;
        margin-bottom: 25px;
    }
    #result_data{
        ul{
            li{
                width: 100%;
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

#faculty_and_departments{
    margin-bottom: 50px;
    h1{
        font-size: 45px;
        margin: 50px 0;
    }
    #faculties{
        .card_box{
            display: flex;
            justify-content: space-between;
            .faculty{
                flex: 1;
                text-align: center;
                // border: 1px solid blue;
                .card_img{
                    height: 150px;
                    position: relative;
                    // border: 1px solid red;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    p{
                        bottom: 0;
                        padding: 10px 0px;
                        margin-bottom: 0;
                        background: $dark;
                        color: $text_white;
                        position: absolute;
                        // border: 1px solid gold;
                    }
                }
                &:not(:last-child){
                    margin-right: 10px;
                }
            }
        }
    }
    #departments{
        margin-top: 25px;
        min-height: 150px;
        .wrapper{
            margin: 20px 0;
            border-bottom: 2px solid $color1;
            span{
                font-size: 25px;
            }
        }
        .row{
            .dept-item{
                border: 1px solid lightgrey;
                transition: all 0.5s ease-in;
                p{
                    margin: 0;
                    padding: 10px;
                    a {
                        color: #777;
                    }
                }
                &:hover{
                    border: 1px solid  $color1;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    p {
                        a{
                            color: $color1;
                        }
                    }
                }
            }
        }
    }
}

#news_ads_section{
    padding: 80px 0;
    position: relative;
    background: $color1;
    .view_all_btn{
        right: 5px;
        bottom: 5px;
        color: $color1;
        position: absolute;
        padding: 10px 25px;
        border: 1px solid $color1;
        transition: all 0.5s ease-in;
        &:hover{
            color: $text_white;
            background-color: $color1;
        }
    }
    .tab-content{   
        .big_box{
            .col-12{
                transition: all 0.3s ease-in;
                .item{
                    padding: 15px 0;
                    min-height: 370px;
                    position: relative;
                    &_img{
                        img{
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                        }
                    }
                    &_body{
                        h4{
                            font-size: 15px;
                            padding-top: 10px;
                            font-family: $noto;
                            // font-family: $roboto;
                            a{
                                color: $dark;
                            }
                        }
                    }
                    &_footer{
                        width: 100%;
                        bottom: 5px;
                        display: flex;
                        position: absolute;
                        justify-content: space-between;
                        span{
                            a{
                                color: #777;
                            }
                        }
                    }
                }
                @media (min-width: 0px) and (max-width: 1199px) {
                    &:last-child{
                        display: none;
                    }
                }
                &:hover{
                    color: $text_white;
                    background: $color2;
                    .item{
                        &_body{
                            h4{
                                a{
                                    color: $text_white;
                                }
                            }
                        }
                        &_footer{
                            span{
                                a{
                                    color: $text_white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .small_news{
            .col-12{
                .news_box{
                    padding: 10px 0;
                    min-height: 110px;
                    position: relative;
                    &_body{
                        p{
                            a{
                                color: $dark;
                                font-family: $noto;
                            }
                        }
                    }
                    &_footer{
                        width: 100%;
                        bottom: 5px;
                        display: flex;
                        position: absolute;
                        justify-content: space-between;
                        span{
                            a{
                                color: $dark;
                                font-family: $noto;
                            }
                        }
                    }
                }
                &:hover{
                    color: $text_white;
                    background: $color1;
                    .news_box{
                        &_body{
                            p{
                                a{
                                    color: $text_white;
                                }
                            }
                        }
                        &_footer{
                            span{
                                a{
                                    color: $text_white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .videos_tab{
            .col-12{
                .video{
                    position: relative;
                    .play_btn{
                        top: 50%;
                        left: 50%;
                        border: none;
                        outline: none;
                        background: none;
                        padding: 5px 10px;
                        position: absolute;
                        background-color: #333;
                        transform: translate(-50%, -50%);
                        i{
                            color: white;
                        }
                    }
                    .pause_btn{
                        @extend .play_btn;
                    }
                    
                }
                p{
                    margin: 0;
                    padding: 7px 0;
                    font-weight: 700;
                    font-family: $noto;
                }
            }
        }
    }
}

#photo_carusel{
    margin: 50px 0;
    // height: 500px;
    background-color: $color1;
    padding: 50px 0;
    .image{
        height: 250px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

#usefull_links{
    margin: 30px 0;
    .item{
        padding: 10px;
        margin: 0px 10px;
        min-height: 200px;
        text-align: center;
        position: relative;
        background-color: whitesmoke;
        // border: 1px solid $color1;
        .brand{
            // border: 1px solid red;
            img{
                width: 100px;
                display: inline;
            }
        }
        .body{
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 10px;
            overflow: hidden;
            position: absolute;
            // border: 1px solid red;
            vertical-align: bottom;
            p{
                margin: 0;  
                padding: 5px;
                text-align: center;
                a{
                    color: $dark;
                }
            }
        }
    }
}

// news ads videos tabs section


