/* global variables */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


.main_container{
    width: 80%;
    margin: auto;
    max-width: 1200px;
}
a {
    font-size:14px;
    font-weight:700;
    text-decoration: none;
}
.superNav {
    font-size:13px;
}
.form-control {
    outline:none !important;
    box-shadow: none !important;
}
.centerOnMobile span a{
    font-size: 13px;
}
@media screen and (max-width:540px){
    .centerOnMobile {
        text-align:center
    }
}

.header .owl-carousel .item{
    height: 78vh!important;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.bg-color_1{
    color: #ffffff;
    background-color: #26597E;
}
