{% load i18n %}

{% if object.pdf_file %}
    {% if LANGUAGE_CODE == 'uz' %}
        {% if object.pdf_file %}
            {% with object.pdf_file as pdf %}
                {% include './pdf_template.html' with pdf=pdf %}
            {% endwith %}
        {% endif %}
    {% endif %}

    {% if LANGUAGE_CODE == 'en' %}
        {% if object.pdf_file_en %}
            {% with object.pdf_file_en as pdf %}
                {% include './pdf_template.html' with pdf=pdf %}
            {% endwith %}
        {% endif %}
    {% endif %}

    {% if LANGUAGE_CODE == 'ru' %}
        {% if object.pdf_file_ru %}
            {% with object.pdf_file_ru as pdf %}
                {% include './pdf_template.html' with pdf=pdf %}
            {% endwith %}
        {% endif %}
    {% endif %}
{% endif %}
