{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <style>
        .card_bg{
            height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
    <div class="container mt-4">
        <div class="row">
            {% for o in search_results %}
                <div class="col-12 col-md-4 col-lg-3 p-2">
                    <div class="card" style="height: 300px">
                        <div class="card_bg" style="background-image: url('{{ o.image.url }}')"></div>
<!--                        <img src="{{ o.image.url }}" class="card-img-top" alt="...">-->
                        <div class="card-body">
                            <p class="card-text">
                                {{ o.title|truncatechars:100 }}<br>
                                <a href="detail/{{ o.slug }}">
                                    {{ read_more }}
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
            {% empty %}
                <p class="text-center p-5">{{ not_found_404 }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
    


    