{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <style>
        .administration_image {
            height: 200px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
    <!-- local css -->
    <link rel="stylesheet" href="{% static 'css/styles/left_category/left_sidebar.css' %}">
    <div class="container">
        <div class="row d-flex justify-content-between py-3">
            <div class="col-12 col-sm-12 col-md-10 col-lg-4 col-xl-4 col-xxl-3">
                <div class="quick_links border">
                    <div class="title bg-light">
                        <h4>{{ position_title }}</h4>
                    </div>
                    <div class="body">
                        <ul class="list-group">
                            {% for obj in object_list %}
                                <li class="list-group-item">
                                    <a class="administration_positions" style="cursor: pointer"
                                          data-position="{{ obj.position }}">{{ obj.position }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-9 posts" id="administrations_list">
                {% for object in object_list_last %}
                    <div class="row">
                        <div class="col-12 col-md-8 border-end p-3">
                            <div class="row">
                                {% for image in object.administration_images.all %}
                                    <div class="col-12 col-md-4 p-1">
                                        <div class="administration_image"
                                             style="background-image: url({{ image.image.url }})">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12 col-md-4 p-1">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="fs-6"><b>{{ object.f_name }}</b></span>
                                    <br>
                                    <small class="text-secondary">{{ object.position }}</small>
                                    <br>
                                    <hr class="hr">
                                    <small class="text-secondary">
                                        <i class="fas fa-envelope me-1"></i> {{ object.email }}
                                    </small>
                                    <br>
                                    <small class="text-secondary">
                                        <i class="fas fa-phone me-1"></i> {{ object.phone }}
                                    </small>
                                    <br>
                                    <small class="text-secondary">
                                        <i class="fas fa-calendar-alt me-1"></i>
                                        {{ object.admission_days }}
                                    </small>
                                    <br>
                                    <small class="text-secondary">
                                        <i class="fas fa-map-marker-alt me-1"></i>
                                        {{ base_variables.address }}
                                    </small><br>
                                    <hr>
                                    {% for network in object.boss_network.all %}
                                        <a title="{{ network.social_networks.name }}" href="{{ network.url }}"
                                           target="_blank"
                                           style="color: {{ network.social_networks.color }};"><i
                                                class="{{ network.social_networks.icon }} me-1 fs-4"></i></a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 px-0 border-top py-3">
                            <div class="accordion accordion-flush w-100" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne"
                                                aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <b>{{ object.short_info_title }}</b>
                                        </button>
                                    </h2>
                                    <div id="collapseOne"
                                         class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body text-start">
                                            {{ object.short_info.html|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo"
                                                aria-expanded="true"
                                                aria-controls="collapseTwo">
                                            <b>{{ object.scientific_direction_title }}</b>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo"
                                         class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body text-start">
                                            {{ object.scientific_direction.html|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree"
                                                aria-expanded="true"
                                                aria-controls="collapseThree">
                                            <b>{{ object.main_tasks_in_position_title.html }}</b>
                                        </button>
                                    </h2>
                                    <div id="collapseThree"
                                         class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body text-start">
                                            {{ object.main_tasks_in_position.html|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapsefour"
                                                aria-expanded="true"
                                                aria-controls="collapsefour">
                                            <b>{{ object.scientific_activity_title }}</b>
                                        </button>
                                    </h2>
                                    <div id="collapsefour"
                                         class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body text-start">
                                            {{ object.scientific_activity.html|safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/modules/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/scripts/posts/posts_inside.js' %}"></script>
{% endblock content %}