{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/styles/posts/detail/post.css' %}">
    <div class="container mt-4">
        <div class="row d-flex justify-content-between py-3">
            <div class="col-12 col-sm-12 col-md-10 col-lg-4 col-xl-4 col-xxl-3">
                <!-- inside navbar -->
                    <div class="quick_links border">
                        <div class="title bg-light">
                            <h4 class="text-center">{{ title_bar }}</h4>
                        </div>
                        <div class="body">
                            <ul class="list-group">
                                {% for cl in departments_list %}
                                    {% if cl.name == title %}
                                        <li class="list-group-item">
                                            <i class="fas fa-angle-right"></i> <a href="{% url 'dept_detail' dept_slug=cl.slug %}">{{ cl.name }}</a>
                                        </li>
                                    {% else %}
                                        <li class="list-group-item">
                                            <a href="{% url 'dept_detail' dept_slug=cl.slug %}">{{ cl.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                <!-- inside navbar -->

                <!-- social networks -->
                    <div class="mt-3 socials_networks border">
                        <div class="title">
                            <h4 class="text-center">{{ social_networks_title }}</h4>
                        </div>
                        <div class="body">
                            <ul class="">
                                {% for sn in social_networks %}    
                                    <li class="social_networks_links" data-social-color="{{ sn.color }}">
                                        <a href="{{ sn.url }}" target="_blank"><i class="{{ sn.icon }}"></i></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                <!-- social networks -->

                <!-- quick links -->

                    <div class="mt-3 quick_links border">
                        <div class="title bg-light">
                            <h4 class="text-center">{{ quick_link_title }}</h4>
                        </div>
                        <div class="body">
                            <ul class="list-group">
                                {% for ql in quick_links %}    
                                    <li class="list-group-item">
                                        <a href="">{{ ql.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                <!-- quick links -->

            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-8 border posts">
                <!-- Start Blog detail -->
                <div class="post_detail">
                    <h1 class="text-center fw-bold">{{ object.name }}</h1>
                    {% if object.pdf_file %}
                        <div class="post_pdf mt-3">
                            <iframe 
                                src="{{ object.pdf_file.url }}" 
                                width="100%" 
                                height="700" 
                                style="border:0;" 
                                allowfullscreen="true" 
                                loading="lazy" 
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    {% endif %}
                    <br><hr>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <h5 class=" fw-bold">{{ about }}</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse show" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {{ object.about.html | safe }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <h5 class=" fw-bold">{{ target }}</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {{ object.target.html | safe }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <h5 class=" fw-bold">{{ activity }}</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {{ object.activity.html | safe }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    <h5 class=" fw-bold">{{ workers }}</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        {% for worker in object.departmentsadmistrations_set.all %}
                                            <div class="col-12 col-md-12 mb-2 p-1">
                                                <div class="card mb-3">
                                                    <div class="row g-0">
                                                        <div class="col-md-3">
                                                            <img src="{{ worker.image.url }}" class="img-fluid rounded-start" alt="tkti.uz">
                                                        </div>
                                                        <div class="col-md-9">
                                                            <h5 class="card-header fw-bold">{{ worker.f_name }}</h5>
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item"><i class="fas fa-user-tie me-2"></i> {{ worker.job_name }}</li>
                                                                <li class="list-group-item"><i class="fas fa-phone-alt me-2"></i> {{ worker.phone_number }}</li>
                                                                <li class="list-group-item"><i class="fas fa-envelope me-2"></i> {{ worker.email }}</li>
                                                                <li class="list-group-item"><i class="fas fa-calendar-day me-2"></i> {{ worker.admission_day }}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post_footer">
                        <div class="time_and_view">
                            <span><i class="fas fa-eye me-2"></i> {{ object.post_viewed_count }}</span>
                            <span><i class="fas fa-calendar-alt me-2"></i> {{ object.added_at }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    