{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <!-- local css -->
    <link rel="stylesheet" href="{% static 'css/styles/left_category/left_sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles/posts/detail/post.css' %}">
    <div class="container mt-4">
        <div class="row d-flex justify-content-between py-3">
            <div class="col-12 col-sm-12 col-md-10 col-lg-4 col-xl-4 col-xxl-3">
                <!-- inside navbar -->
                <div class="quick_links border">
                    <div class="title bg-light">
                        <h4 class="text-center">{{ title_bar }}</h4>
                    </div>
                    <div class="body">
                        <ul class="list-group">
                            {% for cl in departments_list %}
                                {% if cl.name == title %}
                                    <li class="list-group-item">
                                        <i class="fas fa-angle-right"></i> <a
                                            href="{% url 'dept_detail' dept_slug=cl.slug %}">{{ cl.name }}</a>
                                    </li>
                                {% else %}
                                    <li class="list-group-item">
                                        <a href="{% url 'dept_detail' dept_slug=cl.slug %}">{{ cl.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- inside navbar -->

                <!-- social networks -->
                <div class="mt-3 socials_networks border">
                    <div class="title">
                        <h4 class="text-center">{{ social_networks_title }}</h4>
                    </div>
                    <div class="body">
                        <ul class="">
                            {% for sn in social_networks %}
                                <li class="social_networks_links" data-social-color="{{ sn.color }}">
                                    <a href="{{ sn.url }}" target="_blank"><i class="{{ sn.icon }}"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- social networks -->

                <!-- quick links -->

                <div class="mt-3 quick_links border">
                    <div class="title bg-light">
                        <h4 class="text-center">{{ quick_link_title }}</h4>
                    </div>
                    <div class="body">
                        <ul class="list-group">
                            {% for ql in quick_links %}
                                <li class="list-group-item">
                                    <a href="{{ ql.url }}">{{ ql.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- quick links -->

            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-9 border posts">
                <!-- Start Blog detail -->
                <div class="post_detail">
                    <h1 class="text-center fw-bold">{{ object.name }}</h1>
                    {#                    {% include "widgets/pdf_file.html" %}#}
                    <br>
                    <hr>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                    <span class=" fw-bold">{{ about_department }}</span>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse show"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {{ object.about.html | safe }}
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                    <span class=" fw-bold">{{ target }}</span>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {{ object.target.html | safe }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                    <span class="fw-bold">{{ activity }}</span>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {{ object.activity.html | safe }}
                                    <table class="table m-3">
                                        <tbody>
                                        <tr>
                                            {% if object.zip_file %}
                                                <td>
                                                    {{ zip_file_title_2 }}
                                                </td>
                                                <td>
                                                    <a href="{{ object.zip_file.url }}"
                                                       download="{{ object.zip_file.url }}">
                                                        {{ download_2 }}
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            {% if object.pdf_file %}
                                                <td>{{ activity_docs }}</td>
                                                <td>
                                                    <a type="button" class="text-primary"
                                                       data-bs-toggle="offcanvas"
                                                       data-bs-target="#main_pdf_edu_area_{{ object.id }}"
                                                       aria-controls="about_study_program_{{ object.id }}">
                                                        {{ download }}
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                        </tbody>
                                    </table>
                                    {% include "widgets/off_canvas_pdf.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                                        aria-controls="flush-collapseFour">
                                    <span class=" fw-bold">{{ workers }}</span>
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" {# collapse #}
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {% include "pages/posts/department_administrations.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFive" aria-expanded="false"
                                        aria-controls="flush-collapseFive">
                                    <span class=" fw-bold">{{ extra_info }}</span>
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {% include "pages/posts/posts_sections/extra_documents_department.html" %}
                                </div>
                            </div>
                        </div>
                        {% if conn_departments %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed px-0" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapsefinal"
                                            aria-expanded="false" aria-controls="flush-collapsefinal">
                                        <span class="fw-bold">{{ depended_news }}</span>
                                    </button>
                                </h2>
                                <div id="flush-collapsefinal" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body px-0 py-2">
                                        <div class="row">
                                            {% for obj in conn_departments %}
                                                <div class="col-12 col-md-4">
                                                    <div class="card" style="height: 130px; ">
                                                        <div class="card-body">
                                                            <p class="">
                                                                <a target="_blank" class="text-dark"
                                                                   href="{% url 'news_detail' obj_slug=obj.slug %}">
                                                                    {{ obj.title|truncatechars:80 }}</a>
                                                            </p>
                                                            <div class="d-flex justify-content-between">
                                                                <span><i class="fas fa-calendar-alt me-2"></i>
                                                                    {{ obj.added_at|date:'d-M-Y' }}</span>
                                                                <span><i
                                                                        class="fas fa-eye me-2"></i> {{ obj.post_viewed_count }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="post_footer">
                        <div class="time_and_view">
                            <span><i class="fas fa-eye me-2"></i> {{ object.post_viewed_count }}</span>
                            <span><i class="fas fa-calendar-alt me-2"></i> {{ object.added_at }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    