{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/styles/posts/posts_list.css' %}">
    <div class="container mt-4">
        <div class="row d-flex justify-content-between py-3">
            <div class="col-12 col-sm-12 col-md-10 col-lg-4 col-xl-4 col-xxl-3">
                {% include "../../widgets/left_sidebar.html" %}
            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-8 border posts">
                <!-- Start Blog Layout -->
                <div class="row " >
                    {% for object in object_list %}
                        <div class="col-12 item my-3">
                            <div class="item-in">
                                <h4>{{ object.title }}</h4>
                                <div class="seperator"></div>
                                <p>
                                    {{ object.subtitle }}
                                </p>
                                <a href="{% url 'post_detail' post_slug=object.slug %}">{{ read_more }}
                                    <i class="fa fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        <p class="text-center">
                            {{ empty }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    