{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/styles/posts/posts_list.css' %}">
    <div class="container mt-4">
        {% if title_slug == 'fakultet' %}
            {% include "./posts_sections/faculty.html" %}
        {% elif title_slug == 'brm' %}
            {% include "./posts_sections/brm.html" %}
        {% else %}
            <div class="row">
                <div class="col-12 col-sm-12 col-md-10 col-lg-4 col-xl-4 col-xxl-3">
                    {% include "../../widgets/left_sidebar.html" %}
                </div>
                <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-9 posts">
                    {% if object_list|length == 1 %}
                        {% for object in object_list %}
                            <div class="post_detail">
                                <!-- <div class="post_img" id="object_base_img">
                                    <img src="{{ object.image.url }}" class="img-fluid" height="500" alt="">
                                </div> -->
                                <div class="post_img_bg" id="object_base_img" style="background-image: url('{{ object.image.url }}');"></div>
                                <h3>{{ object.title }}</h3>
                                {% if object.video_file %}
                                    <div class="post_video">
                                        <video width="100%" controls>
                                            <source src="{{ object.video_file.url }}" type="video/mp4">
                                        </video>
                                    </div>
                                {% endif %}
                                {% if object.pdf_file %}
                                    <div class="post_pdf mt-3">
                                        <iframe 
                                            src="{{ pdf_file }}" 
                                            width="100%" 
                                            height="700" 
                                            style="border:0;" 
                                            allowfullscreen="" 
                                            loading="lazy" 
                                            referrerpolicy="no-referrer-when-downgrade">
                                        </iframe>
                                    </div>
                                {% endif %}
                                {% if object.post %}
                                    <div class="post_text mt-3" id="object_post">
                                        {{ object.post.html | safe }}
                                    </div>
                                {% endif %}
                                <div class="row">
                                    {% for obj in object.bosssection_set.all %}
                                        <div class="col-12 col-md-4 col-xl-4">
                                            <div class="card">
                                                <img src="{{ obj.image.url }}" class="card-img-top" alt="{{ obj.f_name }} | tkti.uz">
                                                <div class="card-header">
                                                    <b>{{ obj.position }}</b>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item"><b>{{ obj.f_name }}</b></li>
                                                        <li class="list-group-item"><i class="fas fa-envelope me-1"></i> {{ obj.email }}</li>
                                                        <li class="list-group-item"><i class="fas fa-phone me-1"></i> {{ obj.phone }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>    
                                    {% endfor %}
                                </div>
                                {% if connected_faculty_dact %}
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                    <h5 class="fw-bold p-0 m-0">{{ depended_news }}</h5>
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body px-0 py-2">
                                                    <div class="row">
                                                        {% for obj in connected_faculty_dact %}
                                                            <div class="col-12 col-md-4">
                                                                <div class="card" style="height: 110px; ">
                                                                    <div class="card-body">
                                                                        <p class="">
                                                                            <a target="_blank" class="text-dark" href="{% url 'news_detail' obj_slug=obj.slug %}">{{ obj.title|truncatechars:80 }}</a>
                                                                        </p>  
                                                                        <div class="d-flex justify-content-between">
                                                                            <span><i class="fas fa-calendar-alt me-2"></i> {{ obj.added_at|date:'d-M-Y' }}</span>
                                                                            <span><i class="fas fa-eye me-2"></i> {{ obj.post_viewed_count }}</span>
                                                                        </div>  
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                {% endif %}

                                <div class="post_footer">
                                    <p class="text-end fw-bold">{{ object.author_post }}</p>
                                    <div class="time_and_view">
                                        <span><i class="fas fa-eye me-2"></i>{{ object.post_viewed_count }}</span>
                                        <span><i class="fas fa-calendar-alt me-2"></i> {{ object.added_at }}</span>
                                    </div>
                                </div>
                            </div>  
                        {% endfor %}
                    {% else %}
                        {% if title_slug == 'boglanish' %}
                            {% include "./posts_sections/contact.html" %}
                        {% elif title_slug == 'bolim-va-markazlar' %}
                            {% include "./posts_sections/sections_and_centers.html" %}
                            {% include "../../widgets/pagination.html" %}
                        {% elif title_slug == 'institut-rahbariyati' %}
                            {% include "./posts_sections/admistrations.html" %}
                        {% elif title_slug == 'iqtidorli-talabalar' %}
                            {% include "./posts_sections/talented_students.html" %}
                        {% else %}
                            <!-- Start Blog Layout -->
                            <div class="row">
                                {% for obj in object_list %}
                                    <div class="projcard projcard-blue">
                                        <div class="projcard-innerbox">
                                            <img class="projcard-img" src="{{ obj.image.url }}"/>
                                            <div class="projcard-textbox">
                                                <div class="projcard-title"><b>{{ obj.title | truncatechars:120 }}</b></div>
                                                <div class="projcard-bar"></div>
                                                <div class="projcard-description">
                                                    {{ obj.subtitle | truncatechars:220 }}
                                                </div>
                                                <a class="read_more" href="{% url 'post_detail' post_slug=obj.slug %}">{{ read_more }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p class="text-center">
                                        {{ empty }}
                                    </p>
                                {% endfor %}
                                <!-- pagination -->
                                {% include "../../widgets/pagination.html" %}
                            </div>
                        {% endif %}
                        {% if connected_faqs %}
                            {% include "./posts_sections/faqs.html" %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/modules/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/scripts/posts/posts_inside.js' %}"></script>
    <script src="{% static 'js/scripts/posts/talented_students.js' %}"></script>
{% endblock content %}
    