@import "../variables/colors";

#usefull_links{
    margin: 30px 0;
    .item{
        padding: 10px;
        margin: 0px 10px;
        min-height: 200px;
        text-align: center;
        position: relative;
        background-color: whitesmoke;
        // border: 1px solid $color1;
        .brand{
            // border: 1px solid red;
            img{
                width: 100px;
                display: inline;
            }
        }
        .body{
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 10px;
            overflow: hidden;
            position: absolute;
            // border: 1px solid red;
            vertical-align: bottom;
            p{
                margin: 0;  
                padding: 5px;
                text-align: center;
                a{
                    color: $dark;
                }
            }
        }
    }
}

.footer{
    background: $color2;
    color:$text_white;
    .links{
        ul {
            list-style-type: none;
        }
        li a{
            color: $text_white;
            transition: color .2s;
            &:hover{
                text-decoration:none;
                color:$color1;
            }
        }
    }  
    .about-company{
        i{
            font-size: 25px;
        }
        a{
            color:$text_white;
            transition: color .2s;
            &:hover{
                color:$color1;
            }
        }
    } 
    .location{
        i{
            font-size: 18px;
        }
        .contact-footer{
            ul{
                li{
                    font-size: 14px;
                    list-style-type: none;
                }
            }
        }
    }
    .copyright p{
        border-top: 1px solid rgba(255,255,255,.1);
    } 
  }