@import "../variables/colors";


.lang{
    .language_code{
        border: none;
        font-size: 14px;
    }
}

#navbarNavDropdown{
    .navbar-nav{
        .nav-item{
            .dropdown-menu{
                li{
                    transition: 0.5s all;
                    &:hover{
                        background-color: $color1;
                        a:hover{
                            color: $text_white;
                        }
                    }
                }
            }
        }
    }
}
