@import "../variables/colors";


.lang{
    .language_code{
        border: none;
        font-size: 14px;
    }
}

#navbarNavDropdown{
    .navbar-nav{
        .nav-item{
            .dropdown-menu{
                li{
                    transition: 0.5s all;
                    &:hover{
                        background-color: $color1;
                        a:hover{
                            color: $text_white;
                        }
                    }
                }
            }
        }
    }
}

.socials{
    top: 40%;
    right: 0%;
    position: fixed;
    ul {
        padding: 0;
        li{
            padding: 5px;
            list-style-type: none;
            a{
                color: $text_white;
                i{
                    font-size: 35px;
                }
            }
        }
    }
}
