@import "../variables/colors";
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.posts {
    background: #fff;
}

.seperator {
    width: 10%;
    height: 3px;
    border: none;
    background: $dark;
    margin-bottom: 30px;
}

.title {
    text-align: center;

    .row {
        padding: 50px 0 0;
    }

    h1 {
        text-transform: uppercase;
    }

    .seperator {
        margin: 0 auto 10px;
    }
}

.item {
    min-height: 1px;
    margin-bottom: 30px;
    position: relative;
    float: left;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .item-in {
        padding: 20px 30px;
        background: #fbf9f9;
        position: relative;
        transition: all 0.5s ease;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }

        &:hover:before {
            width: 100%;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            height: 2px;
            width: 0%;
            background: $dark;
            right: 0px;
            -webkit-transition: width 0.4s;
            transition: width 0.4s;
        }
    }
}

.item {

    h4 {
        font-size: 18px;
        margin-top: 15px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: $dark;
        margin-top: 10px;

        i {
            opacity: 0;
            padding-left: 0px;
            transition: 0.4s;
            font-size: 24px;
            display: inline-block;
            top: 5px;
            position: relative;
        }

        &:hover {
            text-decoration: none;

            i {
                padding-left: 10px;
                opacity: 1;
                font-weight: 300;
            }
        }
    }
}

.item .icon {
    position: absolute;
    top: 27px;
    left: -16px;
    cursor: pointer;

    a {
        font-family: 'Merriweather', serif;
        font-size: 14px;
        font-weight: 400;
        color: #999;
        text-transform: none;
    }

    svg {
        width: 32px;
        height: 32px;
        float: left;
    }

    .icon-topic {
        opacity: 0;
        padding-left: 0px;
        transition: 0.4s;
        display: inline-block;
        top: 0px;
        position: relative;
    }

    &:hover .icon-topic {
        opacity: 1;
        padding-left: 10px;
    }
}

@media only screen and (max-width : 768px) {
    .item .icon {
        position: relative;
        top: 0;
        left: 0;
    }
}

// faculty css theme

.projcard {
	position: relative;
	width: 100%;
	height: 270px;
	font-size: 18px;
	overflow: hidden;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid #888;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
		.projcard-img {
			transform: scale(1.05) rotate(1deg);
		}
		.projcard-bar {
			width: 70px;
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.07;
	}
	&-innerbox {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&-img {
		position: absolute;
		height: 270px;
		width: 400px;
		top: 0;
		left: 0;
		transition: transform 0.2s ease;
	}
	&:nth-child(2n) .projcard-img {
		left: initial;
		right: 0;
	}
	&-textbox {
		position: absolute;
		top: 7%;
		bottom: 7%;
		left: 430px;
		width: calc(100% - 470px);
		font-size: 17px;
		&::before, &::after {
			content: "";
			display: block;
			background: #fff;
			position: absolute;
			// background: #ff0000bb;
			top: -20%;
			left: -55px;
			height: 140%;
			width: 60px;
			transform: rotate(8deg);
		}
		&::after {
			display: none;
			left: initial;
			right: -55px;
		}
		* {
			position: relative;
		}
		.read_more{
			padding: 5px 20px;
			color: $text_white;
			background: $color1;
			transition: all .4s ease-in-out;
			&:hover{
				background: $color1;
			}
		}
	}
	&:nth-child(2n) .projcard-textbox {
		left: initial;
		right: 430px;
		&::before {
			display: none;
		}
		&::after {
			display: block;
		}
	}
	&-title {
		a{
			color: $color1;
			font-size: 20px;
			font-family: "Voces", "Open Sans", arial, sans-serif;
		}
	}
	&-subtitle {
		font-family: "Voces", "Open Sans", arial, sans-serif;
		color: #888;
	}
	&-bar {
		left: -2px;
		width: 50px;
		height: 5px;
		margin: 10px 0;
		border-radius: 5px;
		transition: width 0.2s ease;
	}
	&-blue .projcard-bar {
		background-color: $color1;
	}
	&-description {
		z-index: 10;
		height: 80px;
		font-size: 15px;
		color: #424242;
		overflow-y: hidden;
		text-overflow: ellipsis;
	}
	&-description:hover{
		overflow-y: scroll;
	}
	&-description::-webkit-scrollbar{
		width: 3px;
	}
	&-description::-webkit-scrollbar-track{
		background-color: #999;
	}
	&-description::-webkit-scrollbar-thumb{
		background: $dark;
	}
}

.faculty_card_box{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	@media screen and (min-width:350px) {
		&{
			margin-bottom: 10px;
			grid-template-columns: auto;
		}
	}
	@media screen and (max-width:600px) {
		&{
			margin-bottom: 10px;
			grid-template-columns: auto;
		}
	}
	@media screen and (min-width:601px) {
		&{
			grid-template-columns: auto auto auto;
			margin-bottom: 10px;

		}
	}
	@media screen and (max-width:790px) {
		&{
			grid-template-columns: auto auto auto;
			margin-bottom: 10px;

		}
	}
	@media screen and (min-width:791px) {
		&{
			grid-template-columns: auto auto auto auto;
			gap: 10px;
			.faculty_card{
				width: 300px;
				height: 300px;
			}
		}
	}
	@media screen and (max-width:1080px) {
		&{
			grid-template-columns: auto auto auto auto;
			gap: 10px;
			.faculty_card{
				width: 300px;
				height: 300px;
			}
		}
	}
	.faculty_card{
		width: 250px;
		height: 250px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transition: all 0.4s ease-in-out;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
		&:hover{
			box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
		}
	}
}

.post_footer{
    margin-top: 40px;
    p{
        margin-bottom: 0;
    }
    .time_and_view{
        display: flex;
        justify-content: space-between;
        span{
            font-weight: 500;
        }
    }
}

.post_img_bg{
    height: 400px;
    margin-bottom: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}