<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ home }}</a></li>
            <li class="breadcrumb-item">
                <a href="{% url 'posts_nav' navbar_slug=parent.slug %}">{{ parent.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>
</div>
<div class="faculty_card_box">
    <div class="row">
        {% for object in object_list %}  
            <div class="col-11 m-auto col-md-6">
                <div class="card mb-3 p-3" style="min-height: 270px;">
                    <div class="row g-0">
                        <div class="col-11 m-auto col-md-4">
                            {% if object.image %}
                                <a href="/posts/navbar/post/{{ object.slug }}">
                                    <img src="{{ object.image.url }}" class="img-fluid rounded-start" alt="TkTI Axborot xizmati">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0">
                                <span class="faculty-title">
                                    <a href="/posts/navbar/post/{{ object.slug }}" target="_blank" class="text-dark">
                                        {{ object.title }}
                                    </a>
                                </span>
                                <ul class="mb-0" style="height: 186px">
                                    {% for dp in object.departments_set.all %}
                                        <li class="list-group-item border-bottom">
                                            <!-- <span class="text-warning">👉</span> -->
                                            <a href="/posts/departments/{{ dp.slug }}">{{ dp.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>