<style>
    .card_img_wrapper {
        height: 200px;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
</style>
{% for obj in object.sections_boss.all %}
    <div class="col-12 col-md-4 col-xl-4 p-1">
        <div class="card">
            {% if obj.image %}
                <div class="card_img_wrapper" style="background-image: url('{{ obj.image.url }}')">
                </div>
            {% endif %}
            <div class="card-header">
                <b>{{ obj.position }}</b>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>{{ obj.f_name }}</b></li>
                    <li class="list-group-item"><i
                            class="fas fa-envelope me-1"></i> {{ obj.email }}</li>
                    <li class="list-group-item"><i
                            class="fas fa-phone me-1"></i> {{ obj.phone }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}