<style>
    .card_img_wrapper {
        position: relative;
        padding-bottom: 70.25%; /* 16:9 aspect ratio */
        height: 0;
    }

    .card_img_wrapper img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

</style>
{% for obj in object.sections_boss.all %}
    <div class="col-12 col-md-4 col-xl-4">
        <div class="card">
            {% if obj.image %}
                <div class="card_img_wrapper">
                    <img src="{{ obj.image.url }}"
                         alt="{{ obj.f_name }} | tkti.uz">
                </div>
            {% endif %}
            <div class="card-header">
                <b>{{ obj.position }}</b>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>{{ obj.f_name }}</b></li>
                    <li class="list-group-item"><i
                            class="fas fa-envelope me-1"></i> {{ obj.email }}</li>
                    <li class="list-group-item"><i
                            class="fas fa-phone me-1"></i> {{ obj.phone }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}